body 					{ font-size: 13px; font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif; color: #1b1b1b; text-align: center; background: white; padding: 0; margin: 0; }
img 					{ border: 0; }	
hr 						{ border: 0; border-bottom: dotted 1px #cccccc; margin: 20px 0 20px 0; clear: both; }	
a, .link 				{ text-decoration: none; font-weight: bold; }
a:hover, .link:hover 	{ text-decoration: underline; cursor: pointer }	
form 					{ padding: 0; margin: 0; }
legend 					{ font-size: 1.2em; font-weight: bold; margin: 0 0 0 0; padding: 0 0 .2em 0; border-bottom: 1px dotted #d1d1d1; }
fieldset 				{ margin: 2em 0 0 0; padding: .5em 0 0 0; border: 0; } 	
li, ul 					{ list-style: none; padding: 0; margin: 0; }	
p 						{ line-height: 150%; margin: 1em 0 1em 0; }
blockquote 				{ font-size: 1em; line-height: 100%; color: #5d5d5d; border-left: 5px solid #f1f1f1; padding: 0 0 0 20px; margin: 0; }
blockquote strong 		{ color: #5d5d5d !important; }
textarea 				{ padding: 5px; font-size: 1em !important; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; }
label 					{ font-weight: bold; }
h1, h2, h3 				{ margin: 0; padding: 0; }
h2 						{ margin: 1.5em 0 1em 0; }	
h3 						{ margin: 1.5em 0 .5em 0; }
img						{ border: 0; }

.center							{ text-align: center; }
.aligncenter					{ text-align: center; }
img.center 						{ margin-left:auto; margin-right:auto; position:relative; text-align:center; display: block; }
img.aligncenter 				{ margin-left:auto; margin-right:auto; position:relative; text-align:center; display: block; }
.shot, .alignleft, .left 		{ float: left; margin: 0 1em 1em 0; }
.shot2, .alignright, .right 	{ float: right;	margin: 0 0 1em 1em; }
a.shot, a.shot2					{ float: none !important; margin: auto !important; }

#top 							{ margin: 10px auto 0 auto; width: 1002px; height: 5px; color: #222222; text-align: left; border-bottom: 1px solid #CCCCCC;  }
#top_left 						{ padding: 2px 0 0 18px; z-index: 10; width: 700px; }
#top_left li 					{ font-size: .85em; float: left; margin: 0 15px 0 0; }
#top_left li a 					{ text-decoration: none; font-weight: normal; display: block; color: #555555; padding: 7px 0 7px 0;  } 
#top_left li a:hover 			{ text-decoration: underline; }
#top_left li span 				{ display: block; padding: 7px; font-weight: bold; }
#top_active_tab 				{ background: transparent url(images/top_corner_nw2.png) no-repeat scroll left top !important; padding-left: 5px; }
#top_active_tab div				{ background: transparent url(images/top_corner_ne2.png) no-repeat scroll right top !important; padding-right: 5px; }
#top_active_tab a				{ color: #414141 !important; text-decoration: none; margin: 0 5px 0 5px; font-weight: bold !important; border-top: 1px solid #cccccc; }
#top_right 						{ float: right; }
#tcnetwork_more 				{ position: relative;  z-index: 10 }
#tcnetwork_more_content 		{ position: absolute; top: 27px; left: 0px; background: white; display: none; border: 1px solid #D1D1D1; border-top: none; z-index: 10; padding: 0 0 5px 0; font-size: 1.2em; }
#tcnetwork_more_content li		{ margin: 0; }
#tcnetwork_more_content a 		{ padding: 5px 15px 5px 15px !important; display: block !important; width: 170px; text-align: left; color: #1c1c1c !important;   }
#tcnetwork_more_content a:hover { text-decoration: none !important; color: white !important; }
#tcnetwork_more_link			{ padding: 7px 18px 7px 5px !important; background: url(images/tcnetwork_more_arrow1.png) top right no-repeat; }

#s							{ color: black; width: 168px; height: 17px; border: 0; margin: 0 2px 0 0; padding: 3px 2px 3px 7px; font-size: 1em; background: url(images/search_field_bg1.png) top left no-repeat; }
#searchform li				{ float: left;  }
#searchsubmit 				{ cursor: pointer; width: 53px; height: 26px; border: 0; background: url(images/search_button_bg1.png) top left no-repeat; }
*:first-child+html #searchsubmit, * html #searchsubmit		{ margin-top: 1px; }
#searchsubmit:hover 		{ color: black; }

#container					{ text-align: left; width: 1000px; margin: auto; height: auto; border: 1px solid #cccccc; border-top: 0; }
#columns					{ background: #f5f5f5 ; border-top: 1px solid #a4a4a4; overflow: hidden }

#header  								{ position: relative; padding-top: 85px; }
#header_top								{ position: absolute; height: 85px; width: 1000px; top: 0; left: 0; height: 85px; overflow: hidden; }
#header_logo2 							{ position: absolute; top: 20px; left: 20px; }
#header_logo 							{ margin: 10px 0 0 20px; }
#header_logo .logo_small				{ width: 230px; }
#header_logo .logo_large				{ height: 46px; }
#header_leaderboard 					{ position: absolute; top: 3px; right: 3px; }
#header_leaderboard iframe 				{ width: 728px; height: 90px; margin: auto; }
.header_w_leaderboard					{ padding-top: 96px !important; }
.header_w_leaderboard #header_top 		{ height: 96px !important; }
.header_w_leaderboard #header_logo 		{ top: 30px; left: 13px; }

#header_nav					{ font-size: .9em; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; height: 28px; }
#header_nav li a 			{ color: #2f2f2f; display: block; padding: 6px 5px 8px 5px; }
#header_nav li a:hover		{ color: #2f2f2f !important;  }
#header_left				{ float: left; width: 560px; padding-left: 10px;  }
#header_left li				{ float: left; }
#header_left li a			{ }
#header_right				{ float: left; width: 418px; padding-right: 10px;  }
#header_right li			{ float: right; }
#header_right li a 			{ }
#header_admin				{  }
#header_admin_link			{ padding-top: 5px !important; padding-bottom: 5px !important; }
#header_subscribe_label 	{ display: block; color: #414141; padding: 6px 5px 8px 5px; }

#header_subscribe_email		{ background: url(images/subscribe_email3.png) top left no-repeat; padding-left: 28px !important; }
#header_subscribe_rss		{ background: url(images/subscribe_rss3.png) top left no-repeat; padding-left: 28px !important; }
#header_subscribe_crunchbar	{ background: url(images/subscribe_crunchbar3.png) top left no-repeat; padding-left: 27px !important; }
#header_subscribe_twitter	{ background: url(images/subscribe_twitter3.png) top left no-repeat; padding-left: 26px !important; }

#header_subscribe_email_notext		{ padding-top: 5px !important; }
#header_subscribe_rss_notext		{ padding-top: 5px !important; }
#header_subscribe_crunchbar_notext { padding-top: 5px !important; }
#header_subscribe_twitter_notext	{ padding-top: 5px !important; }
#header_subscribe_facebook_notext	{ padding-top: 5px !important; }
#header_subscribe_friendfeed_notext	{ padding-top: 5px !important; }

#header_features 						{ height: 255px; overflow: hidden; background: #c7d5e5; border: 1px solid #7a8fa4; padding: 0 1px 0 1px; margin: 0 0 3px 0; }
#header_features .feature				{ position: relative; width: 217px; height: 249px; display: block; color: black; font-weight: normal; background: white; border: 1px solid #7a8fa4; margin: 2px 1px 2px 1px; float: left;  }
#header_features .feature:hover			{ border-color: #1e3044; background: #fafafa !important; text-decoration: none !important; }
#header_features .feature img			{ width: 211px; height: 152px; margin: 3px; border-bottom: 1px solid #d9d9d9; padding-bottom: 3px;  }
#header_features .feature_category 		{ font-weight: bold; text-transform: uppercase; font-size: .95em; margin: 0px 7px 1px 7px; }
#header_features .feature_title			{ margin: 0 7px 14px 7px; font-size: 1.1em }

#sidebar_features 						{ overflow: hidden; background: #C7D5E5; border: 1px solid #7A8FA4; margin: 0 9px 9px 9px; }
#sidebar_features_header 				{ height: 28px; background: #C7D5E5; border-bottom: 1px solid #7A8FA4; padding: 5px 15px 0 10px; }
#sidebar_features_header h2				{ margin: 0; }
#sidebar_features_header li 			{ float: left; margin: 0 5px 0 0 !important; padding: 5px 7px 5px 7px !important; list-style: none !important; font-size: 1.1em; }
#sidebar_features_body					{ border-top: 2px solid white; }
#sidebar_features .feature				{ position: relative; display: block; color: black; font-weight: normal; padding: 3px; margin: 3px; background: white; border: 1px solid #7A8FA4;  }
#sidebar_features .feature:hover		{ border-color: #1e3044 !important; background: #fafafa !important; text-decoration: none !important; }
#sidebar_features .feature img			{ float: left; width: 125px; height: 86px; margin: 0px 6px 0 0; padding: 0 3px 0 0; border-right: 1px solid #D9D9D9;  }
#sidebar_features .feature_category 	{ font-weight: bold; text-transform: uppercase; font-size: .8em; margin: 3px 3px 1px 3px; }
#sidebar_features .feature_title		{ font-size: 1em; margin: 0 3px 3px 3px; }


#col1  										{ float: left; width: 667px; overflow: hidden; margin: 3px 0px 3px 3px; }
#col1 table 								{ width: 90%; }
#col1 thead 								{ font-weight: bold; background: #e7e7e7; }
#col1 .form_text 							{ border: 1px solid #b6b6b6; background: #f7f7f7; font-size: 1em; padding: 3px; width: 15em; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; }
#col1 textarea 								{ border: 1px solid #b6b6b6; background: #f7f7f7; font-size: 1em; padding: 10px; width: 90%; height: 6em; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; }
#col1 .form_select 							{ border: 1px solid #b6b6b6; background: #f7f7f7; font-size: 1em; padding: 3px; }
#col1 td 									{ padding: 5px; }
#col1_header								{ border: 1px solid #c4c4c4; background: white; overflow: hidden; padding: 15px; margin: 0 0 3px 0; position: relative; font-size: 2em; font-weight: bold; color: black;  }

#announcement								{ border: 1px solid #c4c28e; font-weight: bold; color: #353535; background: url(images/announcement_flame.png) top left no-repeat #fffee9; display: block; padding: 7px 7px 7px 25px; margin: 0 0 3px 0;   }
a#announcement:hover						{ color: black !important; }

.post, .excerpt 					{ border: 1px solid #c4c4c4; background: white; overflow: hidden; padding: 15px; margin: 0 0 3px 0; position: relative; }
.post_header, 
.excerpt_header 					{ font-size: 1.8em; font-weight: bold; color: black;}
.single_post .post_header			{ font-size: 2em; }
.post_header a, 
.excerpt_header a 					{ color: black; text-decoration: none; }
.post_subheader, 
.excerpt_subheader 					{ position: relative; padding: 3px 0 15px 0; color: #888888; border-bottom: 1px dotted #c4c4c4; }
.post_subheader a, 
.excerpt_subheader a 				{ color: #2e2e2e; }
.post_subheader a:hover, 
.excerpt_subheader a:hover			{ color: #2e2e2e !important; }
.post_subheader_right, 
.excerpt_subheader_right 			{ float: right; padding: 0 0 0 10px; position: relative; }
.post_subheader_right a, 
.excerpt_subheader_right a  		{ padding-right: 20px; background: url(images/comments.png) top right no-repeat; display: block; }
.excerpt_subheader_right ul li		{ float: left; display: inline; padding-right: 10px;}
* html .post_subheader_right a, 
* html .excerpt_subheader_right a  	{ background: url(images/comments2.png) top right no-repeat; }
.post .entry, 
.excerpt .entry						{ font-size: 1em; line-height: 150%; color: #272727; position: relative;  }
.post .entry strong 				{ color: black; }
.post .entry img					{ position: relative; max-width: 620px; width: expression(this.width > 620 ? 620: true); }
.post .entry ul, 
.excerpt .entry ul 					{ padding: 0 0 0 1em; margin: 1em 0 2em 0; list-style: square; }
.post .entry ul li					{ list-style: square; margin: 0 0 .4em .5em; }
.post .entry ol li 					{ list-style: decimal; margin: 0 0 .4em .5em; }
.post_footer 						{ font-weight: bold; clear: both; position: relative; }
.post_footer a 						{ color: #222222; }
.post_footer li 					{ float: right; margin: 0 0 0 15px; list-style: none !important; position: relative }
.post_unit 							{ text-align: center; background: white; border: 1px solid #c4c4c4; margin: 0 0 3px 0; padding: 6px;  }
.post_ad 							{ text-align: center; border: 1px solid #c4c4c4; margin: 0 0 3px 0; padding: 6px; background: white; }
.more-link 							{ float: right; display: block; background: url(images/arrow_right.png) no-repeat right top; padding-right: 20px; font-size: 1.1em; }

.excerpt .entry img 				{ position: relative; border: 0; float: left; margin: 0 15px 15px 0 !important; max-width: 215px; max-height: 200px; width: expression(this.width > 215 ? 215: true); height: expression(this.height > 155 ? 155: true); }
.excerpt_entry_footer 				{ text-align: right; font-size: 1.1em; clear: both; }
.excerpt_entry_footer a 			{ float: right; display: block; background: url(images/arrow_right.png) no-repeat right top; padding-right: 20px; }
* html .excerpt_entry_footer a 		{ background: url(images/arrow_right2.png) no-repeat right top; }

#col2  								{ float: left; width: 330px; overflow: hidden; padding: 3px 0 0 0; }
* html #col2						{ width: 320px; }
#col2 h1 							{ border-bottom: 1px solid #DBDBDB; font-size: 1.2em; margin: 20px 0pt 5px; padding: 0pt 5px 2px; }

#col2_medrec 						{ margin: 6px 0 9px 0; clear: both; text-align: center; }
#col2_medrec iframe					{ width: 300px; height: 250px; }

#post_unit_medrec					{ margin: 10px 20px 10px; float: left; text-align: center; font-size: 0.8em; display: block; }
#post_unit_medrec iframe			{ width: 300px; height: 250px; }

#post_unit_posts_box							{ border-color: rgb(174, 174, 174); border-left: 1px dotted rgb(174, 174, 174); float: left; text-align: left; width: 310px; }
* html #post_unit_posts_box						{ width: 290px; }
#post_unit_posts_box .boxy						{ background: none; border: none; }
#post_unit_posts_box .boxy_header				{ background: none; padding: 5px }
#post_unit_posts_box .boxy_header_selected		{ border: none; font-size: 1.4em; }
#post_unit_posts_box .boxy_body 				{ border: none; color: #888888; margin: 0 }
	
.sponsor_units 							{ margin: 9px 0 0 25px; }
.sponsor_units li						{ float: left; margin: 0 12px 12px 0;  }
.sponsor_units li a						{ cursor: pointer; background: white; padding: 3px 3px 0 3px; border: 1px solid #C4C4C4; display: block }
*:first-child+html .sponsor_units li a, 
* html .sponsor_units li a 				{ padding-bottom: 3px; }

#vertical_ads 						{ clear: both; margin: 9px 0 9px 9px; }
#vertical_ads li 					{ float: left; margin: 0 9px 9px 0; background: white; padding: 3px; border: 1px solid #C4C4C4  }

#site_supporters 					{ clear: both; margin: 10px 0 0 25px; }
#site_supporters li					{ float: left; margin: 8px 26px 16px 0; }

#footer 							{ margin: auto; width: 1000px; height: 25px; padding: 10px 0 0 0; font-weight: bold; font-size: .9em; }
#footer a 							{ color: #2f2f2f; }
#footer a:hover						{ color: #2f2f2f !important; }
#footer li 							{ float: left; margin: 0 0 0 10px; }
#footer_right li 					{ float: right !important; margin: 0 10px 0 5px !important; }

#bugs								{ margin: 10px 9px 0 9px; }
.bug 								{ display: block; margin: 0 0 9px 0;  }
.bug img							{ width: 312px; height: 100px; }

.boxy,
.third_column_content					{ margin: 0px 9px 9px 9px; background: #C7D5E5; clear: both; border: 1px solid #7A8FA4; }
.boxy_header,
.third_column_content_header			{ background: #C7D5E5; height: 28px; padding: 5px 12px 0; }
.boxy_header li,
.third_column_content_header li			{ float: left; margin: 0 5px 0 0 !important; padding: 5px 9px 5px 9px !important; list-style: none !important; font-size: 1.1em;  }
.boxy_header li a,
.third_column_content_header li a		{ color: #101010; }
.boxy_header_selected,
.third_column_content_header_selected	{ font-weight: bold; background: white; cursor: normal; border: 1px solid #7A8FA4; border-bottom: none; height: 18px; }
.boxy_body,
.third_column_content_body				{ margin:0 3px 3px; padding:6px 15px 15px; display: none; border: 1px solid #7A8FA4; background: white }
.boxy_body li,
.third_column_content_body li			{ list-style: none; padding: 6px 0 !important; border-top: 1px dotted #C4C4C4; }
.boxy_body li a,
.third_column_content_body li a			{ color: #2E2E2E; }
.boxy_body li a:hover,
.third_column_content_body li a:hover	{ color: #2E2E2E }
.boxy_header_link,
.third_column_content_header_link 		{ cursor: pointer; }
.boxy_body_first_li,
.third_column_content_body_first_li		{ border: 0 !important; }

.crunchboard_widget_footer 			{ padding: 0 6px 6px 6px; font-size: .8em; text-align: right; }
.crunchboard_widget_footer a 		{ color: #101010; }

#seesmic_widget .third_column_content_body			{ padding-bottom: 25px; }
#seesmic_widget .third_column_content_body li 		{ clear: both; height: auto; padding: 9px 9px 10px 9px; }
#seesmic_widget .third_column_content_body li img 	{ float: right; width: 80px; margin-bottom: 5px; }
#seesmic_widget .third_column_content_body li a 	{ font-weight: normal; color: #2F2F2F; }
#seesmic_widget .third_column_content_body li a:hover	{ text-decoration: underline; }
#seesmic_widget_footer 				{ padding: 5px 0 5px 0; text-align: center; }
.seesmic_thumb 						{ margin: 0 0 0 10px; }

.neighbor_posts 					{ padding: 2px 4px 3px 4px; overflow: hidden; border: 1px solid #c4c4c4; background: white; margin: 0 0 3px 0; }
.neighbor_posts a 					{  }
.neighbor_posts_next 				{ float: right; }
.neighbor_posts_previous 			{ float: left; }
.neighbor_posts_next a 				{ background: url(images/arrow_right_nav.png) top right no-repeat; padding: 6px 20px 6px 5px; display: block; }
.neighbor_posts_previous a 			{ background: url(images/arrow_left_nav.png) top left no-repeat; padding: 6px 5px 6px 20px; display: block; }

.navigation 						{ padding: 5px; font-size: 1.1em; overflow: hidden; border: 1px solid #c4c4c4; background: white; }	
.navigation a 						{  }	
.navigation a:hover 				{  }
.content_home .navigation			{ border-right: 1px solid #D1D1D1; }
			
.navigation .alignright 			{ float: right; margin: 0; padding: 0 1px 1px 0; }
.navigation .alignright a 			{ padding: .5em; background: url(images/arrow_right_nav.png) top right no-repeat; padding: 5px 20px 5px 5px; display: block; font-size: 1.1em; }
* html .navigation .alignright a 	{ background: #fafafa url(images/arrow_right_nav2.png) top right no-repeat;	 }
.navigation .alignleft 				{ float: left; margin: 0; padding: 0 0 1px 1px; }
.navigation .alignleft a 			{ padding: .5em; background: url(images/arrow_left_nav.png) top left no-repeat; padding: 5px 5px 5px 20px; display: block; font-size: 1.1em;	 }

* html .navigation .alignleft a 	{ background: #fafafa url(images/arrow_left_nav2.png) top left no-repeat;	 }
.navigation td 						{ vertical-align: top; }

#page 								{ padding: 15px; border: 1px solid #c4c4c4; background: white; margin: 0 0 3px 0; }

.page_header 						{ font-size: 2em; font-weight: bold; color: black; float: left; padding: 0 0 15px 0; }
.page_header a 						{ color: black; text-decoration: none;}
.page_subheader 					{ position: relative; float: right; }
.page_subheader_right 				{ text-align: right; }
.page_subheader_right img 			{ padding-top: 0.75em; }
.page_header_right_comments 		{ padding-right: 20px;	 background: url(images/comments.png) top right no-repeat; display: block;	 color: #2e2e2e; }
.page_subheader_right ul 			{ margin: 0 !important; padding: 0 !important; }
.page_subheader_right li 			{ padding: 15px 0 0 0; float: right; margin: 0 0 0 10px; font-size: 13px; }

.page_content 						{ font-size: 1em; line-height: 150%; color: #272727; border-top: 1px dotted #d1d1d1; clear: both; }
.page_content ul 					{ padding: 0 0 0 1em; margin: 1em 0 2em 0; }
.page_content img 					{ border: 0; }	
.page_content img 					{ max-width: 620px; width: expression(this.width > 620 ? 620: true); }
.page_content ul li 				{ list-style: square; margin: 0 0 .4em .5em; }
.page_content ol li 				{ list-style: decimal; margin: 0 0 .4em .5em; }

#trackbacks_area 			{ padding: 15px; margin: 0 0 3px 0; overflow: hidden; border: 1px solid #c4c4c4; background: white; }
#trackbacks_area h2 		{ margin-top: 0; }
.trackbacks li 				{ margin: 0 0 10px 20px; list-style: disc !important; }
.trackback_time 			{ font-weight: normal; color: black }

#trackback_url 				{ margin: 25px 0 0px 0px; padding: 10px 0 5px 0; font-size: .8em; font-weight: bold; color: #626262; border-top: 1px solid #F1F1F1;  }
#trackback_url_field 		{ width: 155px; color: #626262; border: 1px solid #b7b7b7; }

#short_url 				{ margin: 0px 0 15px 0px; padding: 5px 0 5px 0; font-size: .8em; font-weight: bold; color: #626262; }
#short_url_field 		{ width: 155px; color: #626262; border: 1px solid #b7b7b7; }

.comment-pages-nav 			{ text-align: center; font-weight: bold; margin: 10px 0 10px 0; font-size: 1.05em; }
.comment-pages-nav a 		{ font-weight: bold; display: block; }
.comment-pages-nav .alignright, 
.comment-pages-nav .alignleft { margin: 0px; }

#comments_area 				{ padding: 15px; margin: 0 0 3px 0; overflow: hidden; border: 1px solid #c4c4c4; background: white; }
#comments_area h2 			{ margin-top: 0; }

.comment_header 				{ background: #f1f1f1; border-bottom: 1px solid #e5e5e5; min-height: 35px; line-height: 1.5em; height: expression(this.height < 40 ? 40: true); }
.comment_header_left 			{ float: left; margin: 0 10px 0 0; }
.comment_header_left img 		{ max-height: 35px !important; height: expression(this.height > 35 ? 35: true); }
.comment_header_right 			{ padding: 8px 0 0 10px; }
* html .comment_header_right 	{ padding-bottom: 10px; }
.comment_header_right2 			{ float: right; padding: 9px 15px 10px 10px; }
.comment_official a 			{ color: black; }
.commentmetadata 				{ color: #222222; font-weight: normal; }
.commentmetadata:hover 			{ text-decoration: none; }

#commenting_options_header 		{ display: none; }

.commentlist				{ margin: 0; padding: 0; }
.comment 					{ border: 0; }
.comment #addcomment 		{ margin-left: 30px !important; }
.comment div 				{ position: relative; }
.comment_body 				{ padding: 5px 0px 15px 0px; margin: 0 0 10px 0; }
.comment_content 			{ padding: 0px 3px 0px 3px; overflow: hidden; height: auto;	 font-weight: normal; }
.comment_header a 			{ color: black; }
.commentmetadata 			{ color: #222222; font-weight: normal; }
.commentmetadata:hover 		{ text-decoration: none; }
.comment_author 			{ font-weight: bold; }
.comment_permalink 			{ font-weight: normal; }
.comment_author a 			{ color: black; }
.comment .comment 			{ margin-left: 30px; margin-right: 0; padding-right: 0; }
.comment .comment img 		{ margin: 0px;}
.comment_permalink 			{ color: black; }
.comment_edit				{ font-weight: normal; }
.cancel-comment-reply 		{ display: none; margin-bottom: 15px; }

#addcomment 				{ padding: 15px; overflow: hidden; border: 1px solid #c4c4c4; background: white; }
#addcomment h2 				{ margin-top: 0; }
#addcomment table 			{ width: 100%; }
#addcomment td 				{ padding: 2px; }
#addcomment_left 			{ width: 360px; float: left; margin: 0 30px 0 0; }
#addcomment_right 			{ width: 240px; float: left; color: #737373; font-size: .95em; }
#addcomment_right h2		{ font-size: 1.2em; color: #3e3e3e; }
#addcomment .field 			{ border: 1px solid #cccccc !important; width: 286px; padding: 5px !important; font-size: 1em !important; background: #F7F7F7; }
#addcomment textarea 		{ border: 1px solid #cccccc; width: 338px; height: 150px; }
#addcomment_button_area		{ text-align: right; margin: 3px 0 9px 0; }
#addcomment .button 		{ background: url(images/add_comment.png) top left no-repeat; width: 114px; height: 32px; border: 0; font-weight: bold; cursor: pointer; font-size: 1em !important; margin: 3px 0 3px 0;}
.commentlist #addcomment		{ margin-bottom: 30px; border: 0; padding: 0; margin-left: 10px; }
.commentlist #addcomment_right	{ display: none; }
.commentlist .cancel-comment-reply	{ display: block !important; }

#responses_hidden			{ display: none; }
#responses_hidden_button	{ display: block; text-align: right; margin: 5px 0 5px 0; font-size: 1.05em }

.links_list 					{ margin: 0 !important; padding: 15px 0 0 0 !important; }
.links_list li 					{ margin: 0 0 10px 0 !important; padding: 0 !important; list-style: none !important; }
.links_list_meta 				{ color: #6b6b6b; }

#new_company_index { padding: 0 0 2em 0; }
#new_company_index h2 { margin: 25px 0 0 0 }
#new_company_index ul, #new_company_index li  { list-style-type: none;		 list-style-position: outside; list-style-type: none; margin: 0; padding: 0; }
#new_company_index #listings_wrap { clear: both; }
#new_company_index .col2_table_listing  { width: 630px; }
#new_company_index .col2_table_listing li a { font-weight: normal; color: #272727; border-bottom: 1px solid #dedede; }
#new_company_index .col2_table_listing li a:hover { border-bottom: 1px solid #008D00; color: #008D00; text-decoration: none; }
#new_company_index .col2_table_listing td { vertical-align: top; width: 30%; }
#new_company_index .section { margin: 0 1.5em 1.5em 0; padding: 0 .5em 0em 0; border-bottom: 2px solid #f1f1f1; border-right: 2px solid #f1f1f1; }
#new_company_index .col2_table_listing ul {	float: left; margin: 0 0 0em 0 !important; padding: 0 0 .1em 0 !important; }
#new_company_index .col2_table_listing li { list-style: none !important; margin: 0 .2em .5em 0 !important; padding: 0 !important; }
#new_company_index .col2_table_listing h5 { font-size: 1.9em; margin: 0 .5em 1.5em 0; padding: 0; float: left; width: 20px; }
#new_company_index .col2_table_listing h5 a { font-weight: bold; color: #a8a8a8; }
#new_company_index .col2_table_listing h5 a:hover { color: #008D00; }
#new_company_index .see_more { clear: both;display: block; text-align: right; padding: 0 1.5em .7em 0; background: url(images/arrow_right.png) top right no-repeat; }
#new_company_index .see_more a { font-weight: bold; }
#new_company_index .see_more a:hover { text-decoration: underline; }
#new_company_index .links_list ul { margin: 0 0 2em; padding: 0 0 0 1em; }
#new_company_index .links_list li { margin-bottom: 0.7em !important; }
#new_company_index .links_list_meta { color: #6B6B6B;}
#new_company_index #posts_wrap { text-align: left; clear: both; }
#new_company_index .pagination { text-align: center; margin: 1em 0 1em 0; font-size: 1.1em; }

#fbc_login_area { display: none; }
#fbc_login_state { display: none; }
#fbc-submit-hack { display: none; }
#fbc_profile_pic { float: left; margin: 5px 10px 50px 0;}
fb\:profile-pic{ height:35px !important; }
fb\:profile-pic[size="square"]{ width:auto !important;height:35px !important; }

.snap_preview_icon { float: none !important; }
.iconsphere { background: url(http://www.sphere.com/images/sphereicon.gif) top left no-repeat; padding-left: 20px; padding-bottom: 4px; white-space: nowrap; border: none; }
.pricegrabber_widget { margin: 15px 0 15px 0; }
.pricegrabber_widget table { width: 100% !important; }
.crunchboard_header { border-bottom: 1px solid rgb(255, 255, 255); text-align: center; font-weight: bold; background-color: rgb(225, 241, 246); padding-top: 4px; padding-bottom: 4px; }
.friendfeed_comment_note	{ font-size: .9em; font-style: italic; color: #808080; text-align: right; }
.friendfeed_comment_note a	{ color: #808080 !important; font-weight: normal; text-decoration: underline; }

#tip_techmeme_li { margin-top: 3px; }
#tip_techmeme	{ background: url(images/tip_techmeme.png) left no-repeat; margin-top: 5px; padding-left: 20px !important; text-decoration: none;}

#tweet_this_li { margin-top: 3px; }
#tweet_this	{ background: url(images/subscribe_twitter4.png) left no-repeat; margin-top: 5px; padding-left: 20px !important; text-decoration: none;}

#yahoo_buzz_li { margin-left: 10px !important;}

.about_block { clear: both; padding: 1em 0;}

#tweetmeme iframe { width: 80px; padding-top: 3px;}

/* Sub-Theme CSS: votay */
a, 
.post_header a:hover, 
.excerpt_header a:hover, 
.page_header a:hover,
.post_subheader a:hover,
.excerpt_subheader a:hover,
#header_nav li a:hover,
a#announcement:hover,
#footer a:hover,
.feature_category,
.boxy_body a:hover,
.boxy_body a:hover,
#comment_reroot										{ color: #00559f; }	

.comment_official 									{ background: #d5fad5; border-bottom: 1px solid #84d184; }
#tcnetwork_more_content a:hover						{ background-color: #006e00; }

.header_w_leaderboard #header_logo					{ left: 20px; }

.no_sidebar { width: 1000px !important;}
.page_content img.no_sidebar { max-width: 960px !important;}.seePlayOverlay {position:absolute; width:50px; height:50px; left:55px; top:35px; cursor:pointer; cursor:hand; border:none; background:url(library/seesmic/images/playOverlay.gif); }
.see_video_holder {display:block; clear:both; width:100%; }
.see_video_thumb {position:relative; display:block;width:160px; height:120px; border:none; }
.see_video_content {display:block; clear:both; width:100%; padding-top:5px; }
#see_buttons_div {display:block; width:100%; clear:both; }
.see_buttons_add {display:block; padding-top:19px; padding-right:5px; cursor:pointer; cursor:hand; float:left; }
.see_buttons_and {display:block; padding-top:19px; padding-right:5px; float:left; }
#flashcontent {width:10px; height:10px; display:block; clear:both;}
#see_back_button {display:none; cursor:pointer; cursor:hand; }
