<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{title}} - Votay</title>
    <link rel="stylesheet" href="/css/complex.css" type="text/css" media="screen" />
		<link rel="pingback" href="http://www.votay.com/xmlrpc.php" />
    <link rel="icon" type="image/png" href="/images/chart.png" />
    <link rel='index' title='votay' href='http://www.votay.com' />
    <link rel="canonical" href="http://www.votay.com/" />
    <meta name="description" content="Open Source Blogging Software for Google App Engine" />
  </head>
	<body id="votay">
  	<div id="top" class="center">Open Source Blogging Software for Google App Engine</div>
		<div id="container">
			<div id="header" class="snap_nopreview header_w_leaderboard">
				<div id="header_top">
					<div id="header_logo">
					<a href="/" title="votay"><img width="200" height="64" alt="votay logo" src="/images/votay.png" /></a>
					</div>
					<div id="header_leaderboard">
					<a href="http://www.namegraphs.com/"><img src="/images/ad_top_728x90.png" width="728" height="90"/></a>

			    </div>
					<div style="clear:both"></div>
				</div>
				<div id="header_nav">
					<div id="header_left">
						<ul>
							<li class="page_item"><a href="http://www.votay.com/about-votay/" title="About">About</a></li>
<li class="page_item"><a href="http://www.votay.com/advertise/" title="Advertise">Advertise</a></li>
<li class="page_item"><a href="http://www.votay.com/archives/" title="Archives">Archives</a></li>
<li class="page_item"><a href="http://www.votay.com/submit-profile/" title="Contact">Contact</a></li>
<li class="page_item"><a href="http://github.com/andrewarrow/votay" title="Source Code">Source Code</a></li>
</ul>
						<div style="clear: both"></div>
					</div>
					<div id="header_right">
						<ul>
						<li><a id="header_subscribe_twitter_notext" rel="nofollow" href="http://twitter.com/votay"><img width="16" height="16" src="/images/subscribe_twitter.png" /></a></li>										
              <li><a id="header_subscribe_rss_notext" rel="nofollow" href="http://feedproxy.google.com/votay" rel="alternate" type="application/rss+xml" title="RSS"><img width="16" height="16" src="/images/subscribe_rss.png"></a></li>
								<li id="header_subscribe_label">Subscribe:</li>
													</ul>
						<div style="clear: both"></div>
					</div>
					<div style="clear:both"></div>
				</div>
				<div style="clear: both"></div>
			</div>
			<div id="columns">
			<div id="col1">

{% block content %}{% endblock %}
														
			</div>

<div id="col2" class="snap_nopreview">
					<ul class="sponsor_units">
					<li><a href="http://www.northerntool.com/"><img src="/images/ad_a_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://www.kde.org/"><img src="/images/ad_b_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://www.monopolycitystreets.com/"><img src="/images/ad_c_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://www.orange.co.uk/"><img src="/images/ad_d_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://www.30boxes.com/"><img src="/images/ad_e_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://en.wikipedia.org/wiki/September_12"><img src="/images/ad_f_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://en.wikipedia.org/wiki/List_of_colors"><img src="/images/ad_g_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://www.23andme.com/"><img src="/images/ad_h_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://960.gs/"><img src="/images/ad_j_125x125.png" width="125" height="125"/></a></li>
					<li><a href="http://www.uscg.mil/"><img src="/images/ad_i_125x125.png" width="125" height="125"/></a></li>
					
					<div style="clear:both"></div>
				</ul>
				<div id="bugs">
				<a class="bug" href="http://www.canvasmagazine.net/"><img width="312" height="100" alt="canvas" src="/images/ad_a_312x100.png" /></a>
				<a class="bug" href="http://www.green-energy-news.com/"><img width="312" height="100" alt="green" src="/images/ad_b_312x100.png" /></a>			
        </div>
				<div id="vertical_ads">
					<ul>
      		<li><a href="http://www.namegraphs.com/"><img width="160" height="600" alt="namegraphs.com" src="/images/ad_side_160x600.png" /></a></li>
      		</ul>
      	  <div style="clear:both"></div>
        </div>

  		<a href="http://www.greenenergyohio.org/"><img width="312" height="379" alt="canvas" src="/images/ad_side_312x379.png" /></a>
        
      
        
			<ul id="site_supporters">
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
		</ul>
		</div>
				<div style="clear: both"></div>
			</div>
		</div>	
		<div id="footer" class="snap_nopreview">
			<div id="footer_right">
				<ul>
					<li>&copy; 2009 </li>
							</ul>
			</div>
			<ul>
				<li class="page_item"><a href="http://www.votay.com/about-votay/" title="About">About</a></li>
        <li class="page_item"><a href="http://www.votay.com/advertise/" title="Advertise">Advertise</a></li>
        <li class="page_item"><a href="http://www.votay.com/archives/" title="Archives">Archives</a></li>
        <li class="page_item"><a href="http://www.votay.com/submit-profile/" title="Contact">Contact</a></li>
        <li class="page_item"><a href="http://github.com/andrewarrow/votay" title="Source Code">Source Code</a></li>
      </ul>
		</div>
  </body>
</html>