<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{title}} - Votay</title>
    <link rel="stylesheet" href="/css/complex.css" type="text/css" media="screen" />
    <link rel="icon" type="image/png" href="/images/chart.png" />
    <link rel='index' title='votay' href='http://www.votay.com' />
    <link rel="canonical" href="http://www.votay.com/" />
    <meta name="description" content="Open Source Blogging Software for Google App Engine" />
  </head>
	<body id="votay">
  	<div id="top" class="center">Open Source Blogging Software for Google App Engine</div>
		<div id="container">
			<div id="header" class="snap_nopreview header_w_leaderboard">
				<div id="header_top">
					<div id="header_logo">
					<a href="/" title="votay"><img width="200" height="64" alt="votay logo" src="/images/votay.png" /></a>
					</div>
					<div id="header_leaderboard">
            <script type="text/javascript"><!--
            google_ad_client = "pub-4613089792105166";
            google_ad_slot = "0626192004";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
			    </div>
					<div style="clear:both"></div>
				</div>
				<div id="header_nav">
					<div id="header_left">
						<ul>
							<li class="page_item"><a href="/about/" title="About">About</a></li>
<li class="page_item"><a href="/advertise/" title="Advertise">Advertise</a></li>
<li class="page_item"><a href="/archives/" title="Archives">Archives</a></li>
<li class="page_item"><a href="/contact/" title="Contact">Contact</a></li>
<li class="page_item"><a href="/set-name/" title="My Account" rel="nofollow">My Account</a></li>
<li class="page_item"><a href="http://github.com/andrewarrow/votay" title="Source Code">Source Code</a></li>
</ul>
						<div style="clear: both"></div>
					</div>
					<div id="header_right">
						<ul>
						  <li><script src="http://mashlogic.com/mash-feeds/subscribe.js?more=%2Fmash-feeds%2Fsubscribe%3Fmfid%3D210%26mfname%3Dvotay%26mfdescr%3DOpen%2520Source%2520Blogging%2520Software%2520for%2520Google%2520App%2520Engine&amp;html=%3Cimg%20class%3D%22mashlogic%22%20border%3D%220%22%20src%3D%22http%3A%2F%2Fmashlogic.com%2Fimages%2Ficon-mash-long-16.png%22%2F%3E"></script></li>
						  <li><a id="header_subscribe_twitter_notext" rel="nofollow" href="http://twitter.com/votay"><img width="16" height="16" src="/images/subscribe_twitter.png" /></a></li>										
              <li><a id="header_subscribe_rss_notext" rel="nofollow" href="http://feeds.feedburner.com/votay" rel="alternate" type="application/rss+xml" title="RSS"><img width="16" height="16" src="/images/subscribe_rss.png"></a></li>
							<li id="header_subscribe_label">Subscribe:</li>
             </ul>
						<div style="clear: both"></div>
					</div>
					<div style="clear:both"></div>
				</div>
				<div style="clear: both"></div>
			</div>
			<div id="columns">
			<div id="col1">

{% block content %}{% endblock %}
														
			</div>

<div id="col2" class="snap_nopreview">
					<ul class="sponsor_units">
					<li><a href="http://www.votay.com/"><img src="/images/ad-6.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-2.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-3.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-4.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-5.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.cbtreferee.com/"><img src="/images/cbt.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-7.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-8.gif" width="125" height="125"/></a></li>
					<li><a href="http://www.votay.com/"><img src="/images/ad-9.gif" width="125" height="125"/></a></li>				
					<li>
					<script type="text/javascript"><!--
            google_ad_client = "pub-4613089792105166";
            google_ad_slot = "8887656847";
            google_ad_width = 125;
            google_ad_height = 125;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
					</li>					
					<div style="clear:both"></div>
				</ul>
				<div id="bugs">
				<a class="bug" href="http://www.votay.com/"><img width="312" height="100" alt="canvas" src="/images/ad_a_312x100.png" /></a>
				<a class="bug" href="http://www.votay.com/"><img width="312" height="100" alt="green" src="/images/ad_b_312x100.png" /></a>			
        </div>
				<div id="vertical_ads">
					<script type="text/javascript"><!--
          google_ad_client = "pub-4613089792105166";
          google_ad_slot = "1787106505";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
      	  <div style="clear:both"></div>
        </div>

  		<a href="http://www.votay.com/"><img width="312" height="379" alt="canvas" src="/images/ad_side_312x379.png" /></a>
        
      
        
			<ul id="site_supporters">
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
			<li><a href="http://code.google.com/appengine/">
			<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" width="120" height="30"/></a></li>
		</ul>
		</div>
				<div style="clear: both"></div>
			</div>
		</div>	
		<div id="footer" class="snap_nopreview">
			<div id="footer_right">
				<ul>
					<li><a href="http://feeds.feedburner.com/votay"><img src="http://feeds.feedburner.com/~fc/votay?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
					</li>
					<li>&copy; 2009 votay.com</li>
				</ul>
			</div>
			<ul>
							<li class="page_item"><a href="/about/" title="About">About</a></li>
<li class="page_item"><a href="/advertise/" title="Advertise">Advertise</a></li>
<li class="page_item"><a href="/archives/" title="Archives">Archives</a></li>
<li class="page_item"><a href="/contact/" title="Contact">Contact</a></li>
<li class="page_item"><a href="/set-name/" title="My Account" rel="nofollow">My Account</a></li>
<li class="page_item"><a href="http://github.com/andrewarrow/votay" title="Source Code">Source Code</a></li>

      </ul>
		</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10738577-1");
pageTracker._trackPageview();
} catch(err) {}</script>		
  </body>
</html>