{% extends "layouts/home.html" %}

{% block content %}

<div class="excerpt">

<style>
input { font-size: 14pt; padding: 0px 2px 0px 2px; margin: 5px 2px 5px 0px; }
</style>
<form method="POST">

<strong>Name</strong>
<br/>
<input type="text" name="name" size="50" value="{{nickname.nickname|escape}}"/>
<br/>
This is the name people will see associated with comments you write.
<br/>
You can use your real name or a nickname if you'd like.

<br/>
<br/>
<strong>URL</strong> (should begin with http://)
<br/>
<input type="text" name="url" size="50" value="{{nickname.url|escape}}"/>
<br/>
When your name is displayed it will be linked to this URL.
<br/>
People usually set it to their blog or company website.
<br/>
You can also use your linkedin, twitter or facebook profile URL.

<br/>
<br/>
<input type="hidden" name="return_url" value="{{return_url}}"/>
<input type="submit" value="Set Name and URL"/>
</form>

<br/>
<br/>

<hr/>

You are logged in with your {{email}} account.
<br/>
<br/>
<a href="{{logout_url}}">Logout</a>
</div>

{% endblock %}