{% extends "layouts/admin.html" %}

{% block content %}
          
        <div id="getting-started">
          <h1>Create Blog Post</h1>
          <br/>
                   
          <form method="POST" action="/admin/create_post">
          Title: <input type="text" name="title" size="50" value="{{post.title}}"/>
          
          <br/>
          <br/>
          Image Filename: <input type="text" name="image" size="50"/>
          
          <br/>
          <br/>

          Text (use new line and --- to place break):
          
          <textarea name="ta" rows="20" cols="50"></textarea>
          <br/>
          <br/>
          
          <input type="hidden" name="key" value="{{post.key}}"/>
          <input type="submit" value="Create Post"/>
          
          </form>
          
        </div>
      
{% endblock %}