{% extends "layouts/admin.html" %}

{% block content %}

    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <form id="search" action="http://www.google.com/search" method="get">
              <input type="hidden" name="hl" value="en" />
              <input type="text" id="search-text" name="q" value="site:rubyonrails.org 
  " />
              <input type="submit" value="Search" /> the Rails site
            </form>
          </li>
        
          <li>
            <h3>Join the community</h3>
            <ul class="links">
              <li><a href="http://www.rubyonrails.org/">Ruby on Rails</a></li>
              <li><a href="http://weblog.rubyonrails.org/">Official weblog</a></li>
              <li><a href="http://wiki.rubyonrails.org/">Wiki</a></li>
            </ul>
          </li>
          
          <li>
            <h3>Browse the documentation</h3>
            <ul class="links">
              <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
              <li><a href="http://stdlib.rubyonrails.org/">Ruby standard library</a></l
  i>
              <li><a href="http://corelib.rubyonrails.org/">Ruby core</a></li>
              <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
            </ul>
          </li>
        </ul>
      </div>
  
      <div id="content">
        <div id="header">
          <h1>Welcome aboard</h1>
          <h2>You&rsquo;re riding Ruby on Rails!</h2>
        </div>
  
        <div id="about">
          <h3><a href="rails/info/properties" onclick="about(); return false">About your application&rsquo;s environment</a></h3>
          <div id="about-content" style="display: none"></div>
        </div>
        
        <div id="getting-started">
          <h1>Getting started</h1>
          <h2>Here&rsquo;s how to get rolling:</h2>
          
          <ol>          
            <li>
              <h2>Use <tt>script/generate</tt> to create your models and controllers</h
  2>
              <p>To see all available options, run it without parameters.</p>
            </li>
            
            <li>
              <h2>Set up a default route and remove or rename this file</h2>
              <p>Routes are set up in config/routes.rb.</p>
            </li>
  
            <li>
              <h2>Create your database</h2>
              <p>Run <tt>rake db:migrate</tt> to create your database. If you're not us
  ing SQLite (the default), edit <tt>config/database.yml</tt> with your username and pass
  word.</p>
            </li>
          </ol>
        </div>
      </div>
      
{% endblock %}