{% extends "layouts/admin.html" %}

{% block content %}
          
<div>
<a href="/admin/create_feature">Create Feature</a>
<br/>
<br/>
{% for feature in features %}
<a href="/admin/edit_feature?key={{feature.key}}">edit</a> {{feature.title}}
<br/>
{% endfor %}

</div>


<br/>
<br/>

<div>
<a href="/admin/create">Create Post</a>
<br/>
<br/>
{% for post in posts %}
<a href="/admin/edit?key={{post.key}}">edit</a> {{post.title}}
<br/>
{% endfor %}

</div>

<br/>
<br/>

<div>
<a href="/admin/create_author">Create Author</a>
</div>


<br/>
<br/>

        <div>
<a href="/admin/images">Manage Images</a>
        </div>
      
{% endblock %}